<div class="container-fluid form-group" style="width: max-content">
  <div class="row justify-content-center" style="margin-top: 20%">
    <img class="img-responsive" ngSrc="assets/logosinbg.png" height="175" width="181" alt="image">
  </div>
  <div  class="row justify-content-center" style="margin-top: 15%">
    <div class="col-md-auto">
      <button class="btn btn-secondary" id="registBut" style="width: 250px;background-color: #2D074A" (click)="toRegister()"> Registrarse </button>
    </div>
  </div>
  <div  class="row justify-content-center" style="margin-top: 15%">
    <div class="col-md-auto">
      <button class="btn btn-secondary" id="loginBut" style="width: 250px;background-color: #2D074A" (click)="toLogin()"> Login </button>
    </div>
  </div>
</div>

